body{
  margin-top: 25px;
  margin-bottom: 25px;
}

p{
  color: #244054;
  font-family: 'Nunito';
  font-size: 18px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 2%;
}

.shadowEffect{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.buttonArea {
  margin: auto;
  text-align: left;
}

.button{
  background-color: #DAE0E4;
  border: none;
  color: #244054;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 2%;
}

.gridSystem {

  display: grid; 
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  
  gap: 25px;
  height: 100%;
  
}
 
#logo {

  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 3;

  justify-self: center;
  align-self: center;
  
}

.logo { 
  grid-area: logo;
  width: auto;
  height: 100px;

}

#menu {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 6;
}

.menu { 
  grid-area: menu;    
  font-size: 20px;
  color: #244054;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: right;
  line-height: 200%;
  font-family: 'Nunito'; 
}

#hellopart {
  background-color: #dae0e4 ; 
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 7;
  
}


.hellopartcontent{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: 'Nunito';
 /* margin-left: 20%;
  margin-right: 20%;
  margin-top: 4%;
  margin-bottom: 4%; */

}

.pageheader{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  font-family: 'Nunito';
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 4%;
  margin-bottom: 4%;

}


#projectHeader {
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
  
}

#project1 {
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 4;
  
}

#project2 {
  grid-row-start: 4;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 6;
  
}


#project3 {
  grid-row-start: 6;
  grid-column-start: 2;

  grid-row-end: 7;
  grid-column-end: 4;
  
}

#project4 {
  grid-row-start: 6;
  grid-column-start: 4;

  grid-row-end: 7;
  grid-column-end: 6;
  
}

#project5 {
  grid-row-start: 8;
  grid-column-start: 2;

  grid-row-end: 9;
  grid-column-end: 4;
  
}

#project6 {
  grid-row-start: 8;
  grid-column-start: 4;

  grid-row-end: 9;
  grid-column-end: 6;
  
}

#project7 {
  grid-row-start: 10;
  grid-column-start: 2;

  grid-row-end: 11;
  grid-column-end: 4;
  
}

#project8 {
  grid-row-start: 10;
  grid-column-start: 4;

  grid-row-end: 11;
  grid-column-end: 6;
  
}

#IndexFooter {
  grid-row-start: 12;
  grid-column-start: 2;

  grid-row-end: 13;
  grid-column-end: 6;
  
}

.footer {
  font-family: 'Nunito';
  text-align: center;
  margin-top: 10px;
}


.projectsheader{
  font-family: 'Nunito';
  font-size: 25px;
  font-weight: bold;
}

.projects_title {  
  display: grid;
  grid-template-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    "."
    ".";
  grid-area: projects_title;
}

.projectTitle{
  width: 100%;
  display: flex;
  font-family: 'Nunito';
  font-size: 18px;
  font-weight: bold;
  justify-content: left;

}

.projectTitleDetails{
  width: 100%;
  display: flex;
  font-family: 'Nunito';
  font-size: 16px;
  justify-content: left;
}

.projects img {
  width: 100%;
  height: auto;
}

#explanation {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 5;
}

#myPhoto {
  grid-row-start: 3;
  grid-column-start: 5;

  grid-row-end: 4;
  grid-column-end: 6;

  width: 300px;
  height: auto;
}

#seeMyResumeButton {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 4;
  
}

#AboutMeFooter {

  grid-row-start: 6;
  grid-column-start: 2;
  grid-row-end: 7;
  grid-column-end: 6;
}

#ContactButtons {
  grid-row-start: 4;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 4;
}

#ContactFooter {
  grid-row-start: 6;
  grid-column-start: 2;
  grid-row-end: 7;
  grid-column-end: 6;
}

#otherPageFooter {
  grid-row-start: 20;
  grid-column-start: 2;
  grid-row-end: 22;
  grid-column-end: 6;
}

#projeExplanation{
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 6;
}

#projectThumbnail {

  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 6;
}

.SectionTitle {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

.ThirdTitle{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New';
}

.SectionDetail {
  font-family: 'Nunito';
  padding-left: 20px;
}

#ProjectInformation {
  grid-row-start: 5;
  grid-column-start: 2;
  grid-row-end: 6;
  grid-column-end: 6;
}

#ProjectSummary {
  grid-row-start: 6;
  grid-column-start: 2;
  grid-row-end: 7;
  grid-column-end: 6;
}

#ProjectProblem {

  grid-row-start: 7;
  grid-column-start: 2;
  grid-row-end: 8;
  grid-column-end: 6;

}

#ProjectUserGoal {
  grid-row-start: 8;
  grid-column-start: 2;
  grid-row-end: 9;
  grid-column-end: 6;
}

#ProjectSolution {
  grid-row-start: 9;
  grid-column-start: 2;
  grid-row-end: 10;
  grid-column-end: 6;
}


#ProjectWireframes {
  grid-row-start: 10;
  grid-column-start: 2;
  grid-row-end: 11;
  grid-column-end: 6;
}

#ProjectTools {
  grid-row-start: 11;
  grid-column-start: 2;
  grid-row-end: 12;
  grid-column-end: 6;
}

#ProjectConclusion {
  grid-row-start: 12;
  grid-column-start: 2;
  grid-row-end: 13;
  grid-column-end: 6;
}

#ProjectButton {
  grid-row-start: 14;
  grid-column-start: 2;
  grid-row-end: 15;
  grid-column-end: 6;
}

#ProjectFooter {
  grid-row-start: 17;
  grid-column-start: 2;
  grid-row-end: 18;
  grid-column-end: 6;
}


@media screen and (min-width:635px) and (max-width:1137px) {

  #myPhoto {
    width: 200px;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .menu { 
    font-size: 18px;
  }

  
  #menu {

    grid-row-start: 1;
    grid-column-start: 4;
  
    grid-row-end: 2;
    grid-column-end: 6;
    
  }

  #logo {

    grid-row-start: 1;
    grid-column-start: 2;
  
    grid-row-end: 2;
    grid-column-end: 3;
    
  }

  .hellopartcontent{

    font-size: 16px;
  
  }
  
  .pageheader{
  
    font-size: 18px;
  
  }

  p{
    font-size: 18px;
  }

  .projectsheader{
    font-size: 20px;
  }

  #project1 {

    grid-row-start: 4;
    grid-column-start: 2;
  
    grid-row-end: 5;
    grid-column-end: 6;
    
  }
  
  #project2 {
  
    grid-row-start: 5;
    grid-column-start:2;
  
    grid-row-end: 6;
    grid-column-end: 6;
    
  }
  
  #project3 {
  
    grid-row-start: 6;
    grid-column-start:2;
  
    grid-row-end: 7;
    grid-column-end: 6;
    
  }

  #project4 {
  
    grid-row-start: 7;
    grid-column-start:2;
  
    grid-row-end: 8;
    grid-column-end: 6;
    
  }
  
  #project5 {
  
    grid-row-start: 8;
    grid-column-start:2;
  
    grid-row-end: 9;
    grid-column-end: 6;
    
  }
  
  #project6 {
  
    grid-row-start: 9;
    grid-column-start:2;
  
    grid-row-end: 10;
    grid-column-end: 6;
    
  }

  #project7 {
  
    grid-row-start: 10;
    grid-column-start:2;
  
    grid-row-end: 11;
    grid-column-end: 6;
    
  }

  #project8 {
  
    grid-row-start: 11;
    grid-column-start:2;
  
    grid-row-end: 12;
    grid-column-end: 6;
    
  }

}

@media screen and (min-width:337px) and (max-width:635px) {

  #hellopart {

    background-color: #dae0e4 ; 
    grid-row-start: 2;
    grid-column-start: 1;
  
    grid-row-end: 3;
    grid-column-end: 7;
    
  }
  
  #myPhoto {

    grid-row-start: 3;
    grid-column-start: 2;
  
    grid-row-end: 4;
    grid-column-end: 3;
    
    width: 200px;
    height: auto;
  }
  

  #explanation {

    grid-row-start: 4;
    grid-column-start: 2;
  
    grid-row-end: 5;
    grid-column-end: 3;
    
  }
  
  #ContactButtons {

    grid-row-start: 5;
    grid-column-start: 2;
  
    grid-row-end: 6;
    grid-column-end: 4;
    
  }
  
  #ContactFooter {
  
    grid-row-start: 7;
    grid-column-start: 2;
  
    grid-row-end: 8;
    grid-column-end: 6;
    
  }

  #seeMyResumeButton {

    grid-row-start: 5;
    grid-column-start: 2;
  
    grid-row-end: 6;
    grid-column-end: 4;
    
  }
  
  #AboutMeFooter {
  
    grid-row-start: 7;
    grid-column-start: 2;
  
    grid-row-end: 8;
    grid-column-end: 6;
    
  }

  img {
    width: 100%;
    height: auto;
  }

  .smallimg {
    width: 50%;
    height: auto;
  }

  .hellopartcontent{

    font-size: 16px;
  
  }
  
  .pageheader{
  
    font-size: 16px;
  
  }

  p{
    font-size: 16px;
  }

  .projectsheader{
    font-size: 18px;
  }

  #menu {

    grid-row-start: 1;
    grid-column-start: 2;
  
    grid-row-end: 2;
    grid-column-end: 6;
    
  }

  #logo {

    grid-row-start: 1;
    grid-column-start: 2;
  
    grid-row-end: 2;
    grid-column-end: 3;
    
  }

  #project1 {

    grid-row-start: 4;
    grid-column-start: 2;
  
    grid-row-end: 5;
    grid-column-end: 6;
    
  }
  
  #project2 {
  
    grid-row-start: 5;
    grid-column-start:2;
  
    grid-row-end: 6;
    grid-column-end: 6;
    
  }
  
  #project3 {
  
    grid-row-start: 6;
    grid-column-start:2;
  
    grid-row-end: 7;
    grid-column-end: 6;
    
  }

  #project4 {
  
    grid-row-start: 7;
    grid-column-start:2;
  
    grid-row-end: 8;
    grid-column-end: 6;
    
  }
  
  #project5 {
  
    grid-row-start: 8;
    grid-column-start:2;
  
    grid-row-end: 9;
    grid-column-end: 6;
    
  }
  
  #project6 {
  
    grid-row-start: 9;
    grid-column-start:2;
  
    grid-row-end: 10;
    grid-column-end: 6;
    
  }

  #project7 {
  
    grid-row-start: 10;
    grid-column-start:2;
  
    grid-row-end: 11;
    grid-column-end: 6;
    
  }

  #project8 {
  
    grid-row-start: 11;
    grid-column-start:2;
  
    grid-row-end: 12;
    grid-column-end: 6;
    
  }
  
}

@media screen and (min-width:150px) and (max-width:337px) {

  #myPhoto {
    width: 0px;
    height: auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .hellopartcontent{

    font-size: 16px;
  
  }
  
  .pageheader{
  
    font-size: 16px;
  
  }

  p{
    font-size: 16px;
  }

  .projectsheader{
    font-size: 18px;
  }

  #menu {

    grid-row-start: 1;
    grid-column-start: 2;
  
    grid-row-end: 2;
    grid-column-end: 6;
    
  }

  .menu {
    font-size: 16px;
  }

  .logo {
    width: 150px;
    height: auto;
  }

  #logo {

    grid-row-start: 1;
    grid-column-start: 2;
  
    grid-row-end: 2;
    grid-column-end: 3;
    
  }

  #project1 {

    grid-row-start: 4;
    grid-column-start: 2;
  
    grid-row-end: 5;
    grid-column-end: 6;
    
  }
  
  #project2 {
  
    grid-row-start: 5;
    grid-column-start:2;
  
    grid-row-end: 6;
    grid-column-end: 6;
    
  }
  
  #project3 {
  
    grid-row-start: 6;
    grid-column-start:2;
  
    grid-row-end: 7;
    grid-column-end: 6;
    
  }

  #project4 {
  
    grid-row-start: 7;
    grid-column-start:2;
  
    grid-row-end: 8;
    grid-column-end: 6;
    
  }
  
  #project5 {
  
    grid-row-start: 8;
    grid-column-start:2;
  
    grid-row-end: 9;
    grid-column-end: 6;
    
  }
  
  #project6 {
  
    grid-row-start: 9;
    grid-column-start:2;
  
    grid-row-end: 10;
    grid-column-end: 6;
    
  }

  #project7 {
  
    grid-row-start: 10;
    grid-column-start:2;
  
    grid-row-end: 11;
    grid-column-end: 6;
    
  }

  #project8 {
  
    grid-row-start: 11;
    grid-column-start:2;
  
    grid-row-end: 12;
    grid-column-end: 6;
    
  }
  
}


@media screen and (min-width:70px) and (max-width:150px) {

  #myPhoto {
    width: 0px;
    height: auto;
  }

   img {
    width: 100%;
    height: auto;
  }

  .hellopartcontent{

    font-size: 16px;
  
  }
  
  .pageheader{
  
    font-size: 16px;
  
  }

  p{
    font-size: 16px;
  }

  .projectsheader{
    font-size: 18px;
  }

  #menu {

    grid-row-start: 1;
    grid-column-start: 2;
  
    grid-row-end: 2;
    grid-column-end: 6;
    
  }

  .menu {
    font-size: 16px;
  }

  .logo {
    width: 150px;
    height: auto;
  }

  #logo {

    grid-row-start: 1;
    grid-column-start: 2;
  
    grid-row-end: 2;
    grid-column-end: 3;
    
  }

  #project1 {

    grid-row-start: 4;
    grid-column-start: 2;
  
    grid-row-end: 5;
    grid-column-end: 6;
    
  }
  
  #project2 {
  
    grid-row-start: 5;
    grid-column-start:2;
  
    grid-row-end: 6;
    grid-column-end: 6;
    
  }
  
  #project3 {
  
    grid-row-start: 6;
    grid-column-start:2;
  
    grid-row-end: 7;
    grid-column-end: 6;
    
  }

  #project4 {
  
    grid-row-start: 7;
    grid-column-start:2;
  
    grid-row-end: 8;
    grid-column-end: 6;
    
  }
  
  #project5 {
  
    grid-row-start: 8;
    grid-column-start:2;
  
    grid-row-end: 9;
    grid-column-end: 6;
    
  }
  
  #project6 {
  
    grid-row-start: 9;
    grid-column-start:2;
  
    grid-row-end: 10;
    grid-column-end: 6;
    
  }

  #project7 {
  
    grid-row-start: 10;
    grid-column-start:2;
  
    grid-row-end: 11;
    grid-column-end: 6;
    
  }

  #project8 {
  
    grid-row-start: 11;
    grid-column-start:2;
  
    grid-row-end: 12;
    grid-column-end: 6;
    
  }
  
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #839FB4;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #244054;
}
